<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2LJJ0YA5v-Tr2GlMWPAuJ1ChT25qad4I</string>
	<key>GCM_SENDER_ID</key>
	<string>447416471883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.watchtrack</string>
	<key>PROJECT_ID</key>
	<string>watchtrack-1ae4f</string>
	<key>STORAGE_BUCKET</key>
	<string>watchtrack-1ae4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447416471883:ios:43ee25b0bd59d2801198ce</string>
</dict>
</plist>